<div class='col-md-4'>
  <h3>Title route</h3>
</div>
<div class='col-md-4'>
  <h3>Depurture time</h3>
</div>
<div class='col-md-4'>
  <h3>Arrival time</h3>
</div>

<% @routes.each do |route| %>
  <div class='col-md-4'>
    <%= route.title %>
  </div>
  <div class='col-md-4'>
    <%= route.departure_time_first_station || 'Time not set' %>
  </div>
  <div class='col-md-4'>
    <td><%= route.arrival_time_last_station || 'Time not set' %></td>
  </div>
<% end %>
