<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead> 
  <tr>
    <th>Type of the wagon</th>
    <th>Amount of top places</th>
    <th>Amount of bottom places</th>
    <th>Train</th>
    <th colspan="3"> </th>
  </tr>
  </thead>

  <tbody>
    <%= render @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'New wagon', new_wagon_path %>